// TO DO: Set max-width/default page width


.banner
	background main 
	background-image url(../images/bg-pattern.svg)
	background-repeat repeat

.main-heading 
	font-family 'Mada', sans-serif
	font-size banner-heading
	font-weight 900
	text-transform uppercase
	color off-white
	line-height .9
	margin 0 
	padding 140px 0 0 80px
		
.sub-heading
	color more-off-white
	font-size banner-sub-heading
	font-weight 700
	margin 0 
	padding 0 0 140px 80px
	line-height .6
	text-transform uppercase
	
	
	