.banner-wrapper
	background main 
	background-image url(../images/bg-pattern.svg)
	
.main-heading 
	font-family 'Mada', sans-serif
	font-size banner-heading
	font-weight 900
	text-transform uppercase
	color off-white
	line-height .9
	margin 0 
	padding 80px 0 0 70px
		
.sub-heading
	color more-off-white
	font-size banner-sub-heading
	font-weight 700
	margin 0 
	padding 0 0 90px 70px
	line-height .5
	text-transform uppercase
	
	
	