// ::TO DO::
// Flex it
// Responsify it
// Refactor	
// Ease in and out links



.nav-wrapper
	background-color secondary
	padding 25px 80px
	
	a, label
		color more-off-white
		margin-right 2.2em
		text-decoration none
		font-size 1.25em
		font-weight 700
		text-transform uppercase
		width 30%
		
	label
		margin 0 0 0 2px
		border-right 1px solid more-off-white
		padding-right 1.5em
		
	input[type="search"]
		color more-off-white
		font-size 1.25em
		font-weight: 400
		font-style italic
		background transparent
		outline none
		border none
		margin-left .8em
		width 60%
		
	a
		&:hover
			color highlight