.resources
	margin 0 
	padding 0
	list-style-type none
	li
		margin-bottom -5px
		width 25%
		float left
		img
			width 100%
			max-width 100%
			

@media only screen and (max-width: 1250px)
	.resources
		li
			width 33.33%
			
@media only screen and (max-width: 900px)
	.resources
		li
			width 50%
						
@media only screen and (max-width: 600px)
	.resources
		li
			width 100%