/* VARIABLES */

// Colours
main = #31323d
secondary = #3a3b49
hightlight = #4ad741
white = #ffffff

// Colour Functions 

off-white = lighten(main, 77)
more-off-white = lighten(main, 68)

// Font sizes
banner-heading = 3.946em
banner-sub-heading = 2.961em
sectionHeading = 28px

// Layout

// padding = 5px
// margin = 5px
