@import "partials/reset"
@import "partials/base"
@import "partials/typography"
@import "partials/variables"



// Header


.main-heading 
  font-family: 'Mada', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fc3747;
  text-align: center;
  letter-spacing: 3px;
  
.header-wrapper
	max-width: 1140px;
	// width: 90%;
	// background-image: url(images/bg-pattern.svg);



  // Grid